.body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgba(255, 255, 255, 0.02);
    max-width: 1200px;
}


.containerGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    width: 100%;
    box-sizing: border-box;
}

.card {
    background-color: rgba(136, 206, 115, 0.02);
    padding: 1rem;
    border-radius: 10px;
    grid: 1;
}

.car img {
width: 100%;
}

.buy {
background-color: paleturquoise;
width: 100%;
text-align: center;
color: antiquewhite;
}


------
.imageGallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.card {
    flex: 1;
    min-width: 250px;
    text-align: center;
    box-sizing: border-box;
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}