<!DOCTYPE html>
<html lang="es">
<head>

    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comik - Contacto</title>
    <link rel="stylesheet" href="../styles/contact.css">
</head>
<body>
    <main>

        
        <div class="info-block">
            <h1 class="logo">Mundo De Tinta 🎨</h1>
        </div>

        <div class="info-block">
            <h3>Horarios De Lunes A Viernes</h3>
            <p> 09:00–14:00 / 17:00–21:00  TLF. 666777555</p>
        </div>

        <h2>Formulario de contacto</h2>

        <form id="contactForm"

                <label for="email">Email:</label>
                <input type="email" id="email" name="email"
            </div>

            <div>
                <label for="mensaje">Mensaje:</label>
                <textarea id="mensaje" name="mensaje" required></textarea>
            </div>

            <div class="button-group">
                <input type="reset" value="Borrar el formulario">
                <input type="submit" value="Enviar el mensaje">
            </div>

            </div>
                <img src="img/Captura.png" alt="">
        </form>
    </main>

    <footer>
        <p> 2025 Mundo De Tinta 🎨</p>
    </footer>

    <script src="script.js"></script>
</body>
</html>