<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mundo de Tinta</title>

    <!-- Fuente Comic Neue -->
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap" rel="stylesheet">

    <!-- Hoja de estilos -->
    <link rel="stylesheet" href="../styles/navbar.css">
    <link rel="stylesheet" href="../styles/index.css">
</head>
<body>

    <header class="navbar">
        <nav class="navbar-container">

            <h1 class="navbar-brand">Mundo de Tinta🎨</h1>

            <ul class="navbar-list">
                <li class="navbar-list-item"><a class="navbar-link" href="index.html">Libros</a></li>
                <li class="navbar-list-item"><a class="navbar-link" href="comics.html">Comics</a></li>
                <li class="navbar-list-item"><a class="navbar-link" href="about-us.html">Sobre Nosotros</a></li>
                <li class="navbar-list-item"><a class="navbar-link" href="contact.html">Contacto</a></li>
            </ul>

        </nav>
    </header>

    <main>
        <!-- Aqui ira el contenido de la pagina -->
    </main>

</body>
</html>
