

.galeria-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.galeria-item {
  aspect-ratio: 4 / 3;   
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(214, 216, 209, 0.15);
} 

.galeria-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;   
  transition: transform 0.3s ease;
}

.galeria-item:hover img {
  transform: scale(1.05);
}


@media (max-width: 900px) {
  .galeria-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .galeria-grid {
    grid-template-columns: 1fr;
  }

  #galeria h2 {
    font-size: 2rem;
  }
}


#historia h2{
    font-family: 'Bangers', cursive;
  font-size: 3rem;
  margin-bottom: 40px;
  color: #160803;
  text-align: center;
}

.p {
  font-family: 'Comic Neue';
  font-size: 0.9rem;
  line-height: 1.2;
}


#fundadores {
  padding: 60px 20px;
  text-align: center;
}

#fundadores h2 {
  font-family: 'Bangers', cursive;
  font-size: 3rem;
  margin-bottom: 40px;
  color: #160803;
}


.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  max-width: 1100px;
  margin: 0 auto;
}


.card {
  background: #fffdfa;
  border: 2px solid #000;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 6px 6px 0 #000;
  transition: transform 0.2s;
}

//Efecto cómic
.card:hover {
  transform: translateY(-6px);
}

.card img {
  width: 100%;
  max-width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 auto 15px;
  display: block;
  border: 3px solid #000;
}


.card h3 {
  font-family: 'Bangers', cursive;
  font-size: 1.6rem;
  margin-bottom: 10px;
}

.card p {
  font-family: 'Comic Neue', cursive;
  font-size: 1rem;
  line-height: 1.3;
}


#valores {
  padding: 60px 20px;
  text-align: center;
}

#valores h2 {
  font-family: 'Bangers', cursive;
  font-size: 3rem;
  margin-bottom: 40px;
  color: #160803;
}


.valores-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  max-width: 1000px;
  margin: 0 auto;
}

.valor-card {
  background: #fffdfa;   
  border: 3px solid #000;     
  width: 220px;
  height: 220px;
  padding: 25px;
  border-radius: 50%;         
  box-shadow: 6px 6px 0 #000; 
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s;
}

.valor-card:hover {
  transform: translateY(-6px);
}

.valor-card i {
  font-size: 2.8rem;
  margin-bottom: 10px;
}

.valor-card h3 {
  font-family: 'Bangers', cursive;
  font-size: 1.3rem;
  margin-bottom: 8px;
}

.valor-card p {
  font-family: 'Comic Neue', cursive;
  font-size: 0.9rem;
  line-height: 1.2;
}

